body{
    background: url(attributes/beach2.jpg);
    background-size: cover;
}

.container {
    max-width: 1000px;
    margin: auto;
    font-family: sans-serif;
    color: black;
}

.month {
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    color: black;
    padding: 5px;
    border: 3px solid black;
    font-family: sans-serif;
}

.stats {
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    color: black;
    padding: 5px;
    border: 2px solid black;
    font-family: sans-serif;
}
.stats_table{

    font-size: 20px;

}
table, th, td {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    border-collapse: collapse;
    border: 3px solid black;
    font-family: sans-serif;
}

tr, th, td {
    padding: 15px;
}

td:hover {
    background: darkgrey;
}

.menu {
    width: 100%;
    overflow: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 100px;
}

.menu li {
    float: left;

}

.menu ul li a {
    text-decoration: none;
    width: 150px;
    display: block;
    text-align: center;
    color: black;
    font-size: 2em;
    font-family: sans-serif;
    padding: 0;
    transition: 0.6s ease;
}

.menu li a:hover {
    color: white;
    /*opacity: 0.5;*/
    font-size: 2em;
}

ul li.active a{
    color: #fff;
}


