@import url('https://fonts.googleapis.com/css?family=Popins:400,500,600,700,900');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Popins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(attributes/beach2.jpg);
    background-size: cover;
    overflow: hidden;
}

.container {
    position: relative;
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 0.5s;
}

.menu {
    width: 100%;
    overflow: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 100px;
}

.menu li {
    float: left;
}

.menu ul li a {
    text-decoration: none;
    width: 150px;
    display: block;
    text-align: center;
    color: black;
    font-size: 2em;
    font-family: sans-serif;
    padding: 0;
    transition: 0.6s ease;
}

.menu li a:hover {
    color: white;
    font-size: 2em;
}

ul li.active a{
    color: #fff;
}



